<nav class="navbar navbar-default">
  <div class="container-fluid">
    
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home()">
        <img src="assets/imgs/logo-bluesoft-small.png" alt="Bluesoft" id="logo">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active">
          <a ui-sref="home()">Início</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="pedidos">Pedidos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>